################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode2020/obj
/AdventOfCode2020/bin
/TestResults
/CurrentDayTests.playlist
