################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AdventOfCode2020/v16/TestStore/0
/.vs/AdventOfCode2020/v16/.suo
/AdventOfCode2020/obj
/AdventOfCode2020/bin/Debug/netcoreapp3.1
/.vs/AdventOfCode2020/DesignTimeBuild/.dtbcache.v2
